{% extends '/Layouts/Menu.html.twig' %}

{% block css %}
    <link href="{{ asset('css/fichePerso.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block test%} <img src="../image/penguin-logo-2.png" alt="Logo"> {%endblock%}

{% block article %}
    <section class="article">
        <div class="list">
            <div class="special">
                <div class="zone-title">
                    <h1 class="title">{{implant.name}}</h1>
                </div>
            </div>

            <div class="impair">
                <div class="articleImg">
                    <div class="contentImg">
                        <h1 class="title">Coût : {{implant.price}}</h1>
                        <h1 class="title">Description</h1>
                        <p class="description">{{implant.description}}</p>
                    </div>
                    <img src="../{{implant.image}}" alt="Image Jeu">
                </div>
            </div>

            <div class="pair">
                <div class="article">
                    <div class="content">
                        <h1 class="title">Localisation</h1>

                        <div class="sousZoneLine">
                            <a href="{{ path('database_zone', {id_zone : zone.id})}}">
                                <div class="sousZone">
                                    <img src="../{{ asset(zone.image)}}" alt="image zone">
                                    <p class="sousZoneName">{{zone.name}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </section>
{% endblock %}